.left-side {
  border-color: aliceblue;
  height: 100%;
  grid-area: left;
}

.right-side {
  grid-area: right;
  text-align: left;
}

.left-side {
  grid-area: left;
  border-width: 3px;
  display: grid;
  justify-items: center;
}

.portrait {
  width: 250px; /* Adjust the width as needed */
  height: 250px; /* Maintain the aspect ratio */
  border-radius: 20%;
  overflow: hidden;
  object-fit: cover;
}

.social-button {
  align-items: center;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
  align-items: center;
}

.social-button img {
  width: 30px;
  height: 30px;
  padding: 0;
  object-fit: contain; /* or "contain" based on your preference */
}

.skills-section {
  text-align: left;
}

.education-section {
  padding-top: 0;
  text-align: left;
}

.education-section .header {
  padding-left: 60;
  text-align: left;
}

.company-logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.experience-company-logo {
  width: 20px;
  height: 20px;
}