.left-side {
  border-color: aliceblue;
  height: 100%;
  grid-area: left;
}

.right-side {
  grid-area: right;
  text-align: left;
}

.left-side {
  grid-area: left;
  border-width: 3px;
}

.portrait {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Maintain the aspect ratio */
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.social-button {
  align-items: center;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
  align-items: center;
}

.social-button img {
  width: 6%;
  height: 6%;
  padding: 0;
}

.social-button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.skills-section {
  text-align: left;
}

.education-section {
  padding-top: 0;
  text-align: left;
}

.education-section .header {
  padding-left: 60;
  text-align: left;
}