
body {
  margin: 0; /* Remove default margin on body */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  position: relative;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
}

.App::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/Background.webp");
  background-color: rgb(223, 207, 227);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .App::before {
    background-size: contain;
  }
}
